{% load staticfiles %}
<div class="col-sm-3 peleus-sidebar" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-default peleus-scrollable-block">
        <div class="panel-heading">Community analysis: {{ analysis_set|length|default:"0" }}</div>
        {% for analysis in analysis_set %}
            <div class="panel-body divider" id="analysis-{{ analysis.id }}">
                <div class="well well-sm">
                    {% if analysis.post_link %}
                        <a href="{{ analysis.post_link }}" target="_blank"
                           title="Click to see original post">{{ analysis.title|slice:"30" }} <span
                                class="glyphicon glyphicon-new-window"></span></a>
                    {% else %}
                        {{ analysis.title|slice:"30" }}
                    {% endif %}
                </div>
                <div class="analysis-text">
                    {% if analysis.body|length > 100 %}
                        <pre>{{ analysis.body|slice:"100" }}...</pre>
                        <div>
                            <a href="{% url 'individual_forecast' id=analysis.forecast.id %}#analysis-{{ analysis.id }}"
                               target="_blank"
                               data-toggle="modal" data-target="#id{{ analysis.id }}">show {{ analysis.title|slice:"33" }} more</a>
                        </div>
                        {% else %}
                        <pre>{{ analysis.body }}</pre>
                    {% endif %}
                </div>
                {#            <p class="pull-right">#}
                by <a href="{% url 'profile' id=analysis.user.id %}">{{ analysis.user }}</a>
                {#            </p>#}
                {% if analysis.avg_votes %}
                    <p class="pull-right">
                        rate: {{ analysis.avg_votes|floatformat }} / 5
                    </p>
                {% endif %}
            </div>
            <hr>

{##}
            <div class="modal fade" id="id{{ analysis.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title panel-heading" id="myModalLabel"><strong>{{ analysis.title|slice:"60" }}</strong></h4>
                        </div>
                        <div class="modal-body">
                            <pre>{{ analysis.body }}</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
{##}

        {% endfor %}
        {% if forecast.is_active and user.is_authenticated %}
            <div id="peleus-right-toggle-wrap">
                <div class="peleus-right-toggle collapse">
                    <form id="post-analysis-form" action="{% url 'forecast_analysis' id=forecast.id %}" method="post">
                        {% csrf_token %}
                        {% for field in analysis_form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            </div>
                            {#                        <div class="form-group">#}
                            {#                            <textarea class="form-control" name="body" maxlength="1000" placeholder="Your post"#}
                            {#                                      required></textarea>#}
                            {#                        </div>#}
                        {% endfor %}
                        <div class="form-group pull-right">
                            <a class="btn btn-danger" data-toggle="collapse"
                               data-target=".peleus-right-toggle" href="#"
                               data-parent="#peleus-right-toggle-wrap">Cancel</a>
                            <a id="post-analysis" class="btn btn-success" role="button">Post Analysis</a>
                        </div>
                    </form>
                </div>
                <div class="peleus-right-toggle collapse in">
                    <button class="form-control btn btn-primary" data-toggle="collapse"
                            data-target=".peleus-right-toggle"
                            data-parent="#peleus-right-toggle-wrap">
                        <span class="glyphicon glyphicon-plus"></span>
                        Post Analysis
                    </button>
                </div>
            </div>

            <div id="modal-analysis-confirm" class="modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Please confirm you wish to post this analysis</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" id="analysis-btn-submit">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    var form = $('#post-analysis-form').get(0);

                    function submitAnalysis() {
                        if (form.checkValidity()) {
                            $('#modal-analysis-confirm').modal('show');

                            $('#analysis-btn-submit').click(function (e) {
                                form.submit();
                            });
                        }
                    }

                    $('#post-analysis').click(submitAnalysis);
                    $(form).find(':input').each(function () {
                        if (!$(this).is('textarea')) {
                            $(this).keypress(function (e) {
                                if (e.keyCode === 13) {
                                    submitAnalysis();
                                    return false;
                                }
                                return true;
                            })
                        }
                    });

                })
            </script>
        {% endif %}
    </div>

    <script type="text/javascript" src="{% static '3p/jquery.jtruncate.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(location.hash).addClass('selected-analysis');
            setTimeout(function () {
                $(location.hash).addClass('highlight-analysis');
            }, 1010);

{#            $('.analysis-text').jTruncate({#}
{#                length: 100,#}
{#                ellipsisText: ' ...'#}
{#            });#}
        })
    </script>

    {# TODO move related media to another template or rename this #}
    <div class="panel panel-default peleus-scrollable-block">
        <div class="panel-heading">
            <h3 class="panel-title">Related Media</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for media in media_set %}
                    <div class="col-sm-12">
                        <a href="{{ media.url }}" target="_blank" class="thumbnail">
                            <img src="{{ media.image.url }}" alt="{{ media.name }}">
                        </a>
                        <h4><a href="{{ media.url }}" target="_blank"> {{ media.name }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>