{% extends 'base.html' %}
{% block content %}
    <div style="position: fixed; top: 10%; right: 10px">
        <a href="{% url 'individual_forecast' id=forecast.id %}">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">BACK</span></a>
    </div>

   <a style='position: fixed; bottom: 60px; right: 1px; cursor:pointer; display:none;'
href='#' id='Go_Top'> <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">TOP</span></a>


<div class="col-sm-8 col-sm-offset-2 peleus-sidebar" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-default" >

        {% for analysis in analysis_set %}

            <div class="panel-body divider" id="analysis-{{ analysis.id }}">
                <div class="well well-sm">
                    {% if analysis.post_link %}
                        <a href="{{ analysis.post_link }}" target="_blank"
                           title="Click to see original post">{{ analysis.title|slice:"30" }} <span
                                class="glyphicon glyphicon-new-window"></span></a>
                    {% else %}
                       {{ analysis.title|slice:"30" }}



                    {% endif %}
                </div>
                <p>{{ analysis.publish_date }}</p>

                <div class="analysis-text">
                         <p style="word-wrap:break-word; background-color: InfoBackground">{{ analysis.body }}</p>
                </div>

                by <a href="{% url 'profile' id=analysis.user.id %}">{{ analysis.user }}</a>


            </div>
            <hr>

        {% empty %}
            <h2>There no posts</h2>

        {% endfor %}
    </div>
</div>
{% endblock %}
{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/toTop.js' %}"></script>

{% endblock %}