{% extends 'base.html' %}
{% block content %}
        {% if success %}
            <div class="jumbotron">
                <h2>You have confirmed your email address.</h2>
                <p>{{ success }}</p>
                <a class="btn btn-default" href="{% url 'home' %}">Home page</a>
            </div>
        {% else %}
            <div class="jumbotron" style="background-color: #a94442">
                <h2>Invalid confirmation key.</h2>
                <p>{{ error }}</p>

            </div>
        {% endif %}
{% endblock %}