{% extends 'base.html' %}

{% block content %}
    <div class="well well">
        {% if is_member %}
            <button id="leave_{{ group.id }}" class="leave_group btn btn-danger pull-right" group-id="{{ group.id }}" value="{{ csrf_token }}">Leave a group</button>
            <pre id="leave_mess_{{ group.id }}" class="leave_mess pull-right" style="display: none">Leaved</pre>
        {% endif%}
        <h4>{{ group.name }}</h4>
    </div>
    <div class="row">
{#        #}
    {% if public_group %}
        <div id="profile_sidebar" class="col-md-4">
            <div>
                <div class="panel" id="performance">
                    <h4><strong>
                        {{ uname }} Performance
                    </strong></h4>

                    <p>{{ group.name|capfirst }}'s number of Forecasts: {{ forecasts|length|default:"0" }}</p>

                </div>

                {% if not hide_analysis_box %}
                    <div class="panel" id="analysis">
                        <h4><strong>
                            {% if owner %} My {% else %}
                                {{ group.name }}'s
                            {% endif %} Analysis
                        </strong></h4>

                        <p>Published Analysis: {{ analysis|length|default:"0" }}
                            {#                            <a href="{% url 'profile_forecast_analysis' id=profile.id %}"#}
                            {#                                class="pull-right">[See Full Set]</a></p>#}
                            <a href="#"
                               class="pull-right">[See Full Set]</a></p>
                        {% for element in analysis %}
                            <div>
                                <a class="list-group-item" href="{% url 'individual_forecast' id=element.forecast.id %}#analysis-{{ element.id }}"
                                   target="_blank"
                                   data-toggle="modal" data-target="#id{{ element.id }}">{{ element.title }}</a>
                            </div>

                            <div class="modal fade" id="id{{ element.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                <strong>{{ element.title }}</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ element.body }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="well well-sm">There are no posted analysis</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="panel">
                    <p>Weekly Views:</p>

                    <div class="modal fade" id="Fol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Followers</h4>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="FolUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Followed Users</h4>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel" id="info">
                        <h4><strong>{{ uname }} Description</strong></h4>
                        {% if group.description %}
                            <p>About group: {{ group.description }}</p>
                        {% else %}
                            <p>Empty</p>
                        {% endif %}
                    </div>

{# Followers and  Requests#}

                    <div id="req_to_group" style="margin-top: 10px">
                        <div class="panel panel-default">
                            <div class="panel-heading">Followers: {{ followers|length|default:"0" }}</div>
                            <div id="peleus-right-toggle-wrap ">
                                <div class="followers-scrollable-block">
                                    {% for follow in followers %}
                                        <div>
                                            <a href="{% url 'profile' id=follow.id %}" target="_blank" class="list-group-item">{{ follow }}
                                            </a>
                                            <h4><a href="{{ media.url }}" target="_blank"> {{ media.name }}</a></h4>
                                        </div>
                                    {% empty %}
                                        <pre>No followers...</pre>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if has_admin_rights %}
                    <div id="req_to_group" style="margin-top: 10px">
                        <div class="panel panel-default">
                            <div class="panel-heading">Requests: {{ requests|length|default:"0" }}</div>
                            <div id="peleus-right-toggle-wrap">
                                <div class="peleus-right-toggle collapse in">
                                    {% for request in requests %}
                                        <li id="join_group" class="join_to_group_{{ request.id }} list-group-item" value="{{ group.id }}">{{ request }}
                                            <a href="#" class="cancel_join_{{ request.id }} glyphicon glyphicon-minus pull-right"></a>
                                            <a href="#" class="access_join  pull-right glyphicon glyphicon-plus" join-user="{{ request.id }}">
                                            </a>
                                        </li>
                                    {% empty %}
                                        <pre>No requests...</pre>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
{# Followers and  Requests#}

                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div>
                <p><strong>
                    {% if owner %} My {% else %}
                        {{ group.name }}'s
                    {% endif %}
                    Active Forecasts
{#                    {% if forecasts.count >= 5 %}#}
                        <a href="#" data-toggle="modal" data-target="#active_forecasts">[See Full Set]</a>
{#                    {% endif %}#}
                </strong>
                </p>
            </div>
            <table class="table">
                {% for forecast in forecasts %}
                    <tr>
                        <td>
                            <a style="text-decoration: none;" href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>
                            Empty active forecasts list
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-8">
            <div>
                <p><strong>
                    {% if owner %} My {% else %}
                        {{ group.name }}'s
                    {% endif %}
                    Archived Forecasts
{#                    {% if forecasts_archived >= 5 %}#}
                        <a href="#" data-toggle="modal" data-target="#archived_forecasts">[See Full Set]</a>
{#                    {% endif %}#}
                </strong></p>
                <table class="table">
                    {% for forecast in forecasts_archived %}
                        <tr>
                            <td>
                                <a href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                Empty archived forecasts list
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>



            <div class="modal fade" id="archived_forecasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Archived Forecasts</h4>
                        </div>
                        <div class="modal-body" id="archived-set-modal">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-lg" id="active_forecasts" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Active Forecasts</h4>
                        </div>
                        <div class="modal-body" id="active-set-modal">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#    #}
        {% else %}
            <label class="col-sm-12 text-center well well-lg">Please wait until your request would be considered</label>
    {% endif %}
    </div>

{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/home_page_charts.js' %}"></script>
    <script src="{% static '1p/forecasts_for_groups.js' %}"></script>
    <script src="{% static '1p/join_to_group.js' %}"></script>
{% endblock %}
