{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% if object_list %}
                <h4>
                    You are follow on {{ object_list|length }} group{{ object_list|pluralize }}
                </h4>
            {% endif %}
        <ul class="groups list-group">
            {% for group in object_list %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large; " href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                    </li>
            {% empty %}
                <h2>
                    You are not follow on groups yet
                </h2>
            {% endfor %}
        </ul>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div id="peleus-right-toggle-wrap">
                    <div class="peleus-right-toggle collapse in">
{#                        <button class="form-control btn btn-primary">#}
                            {% if user.is_authenticated %}
                                <a href="{% url 'propose_group' %}" class="form-control btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create group</a>
                            {% endif %}
{#                        </button>#}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}