{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% if object_list %}
                <h4>
                    You are a member of {{ object_list|length }} group{{ object_list|pluralize }}
                </h4>
            {% endif %}
        <ul class="groups list-group">
            {% for group in object_list %}
                <div class="list-group-item" style="text-decoration: none;font-size: x-large; ">
                <a href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                    <button id="leave_{{ group.id }}" class="leave_group btn btn-sm btn-danger pull-right" group-id="{{ group.id }}">
                        Leave a group
                    </button>
                <pre id="leave_mess_{{ group.id }}" class="leave_mess pull-right" style="display: none">Leaved</pre>
                </div>
            {% empty %}
                <h2>
                    You are not subscribed any group
                </h2>
            {% endfor %}
        </ul>
        </div>
        <div id="actions_group" class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div id="peleus-right-toggle-wrap">
                    <div class="peleus-right-toggle collapse in">
{#                        <button class="form-control btn btn-primary">#}
                            {% if user.is_authenticated %}
                                <a href="{% url 'propose_group' %}" class="form-control btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create group</a>
                            {% endif %}
{#                        </button>#}
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/join_to_group.js' %}"></script>
{% endblock %}