{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <script src="{% static '1p/profile.js' %}"></script>

    <div class="row">
        <div class="panel col-md-8">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">Profile</li>
        </ol>
            <div class="row">
                <div class="col-md-6">
                    {% if owner %}
                        <h4>Hello, {{ user.custom.full_name }}</h4>
                    {% elif not user.is_authenticated %}
                        <h4>{{ profile.full_name }}'s profile</h4>
                    {% else %}
                        <h4>{{ profile.full_name }}'s profile</h4>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'postman_write' %}">
                            <button type="submit" class="btn btn-default btn-sm">
                            Send Message
                            </button></a>
                            <a href="#">
                            <button type="button" class="btn btn-default btn-sm">
                                Follow
                            </button></a>
                            <a href="#">
                            <button type="button" class="btn btn-default btn-sm">
                                Invite to Group
                            </button></a>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="modal fade bs-example-modal-lg" id="active_forecasts" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Active Forecasts</h4>
                        </div>
                        <div class="modal-body" id="active-set-modal">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="archived_forecasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Archived Forecasts</h4>
                        </div>
                        <div class="modal-body" id="archived-set-modal">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#active_forecasts').on('shown.bs.modal', function () {
                    $.ajax({
                        url: "/profile_forecasts/{{ profile.id }}/",
                        method: 'GET',
                        data: {
                            filter: 'active'
                        }
                    }).done(function (data) {
                        $('#active-set-modal').html(data);
                        $.ajax({
                            url: "/forecasts/",
                            method: 'GET',
                            data: urlDataFromIds()

                        }).done(function (data) {
                            for (var i = 0; i < data.length; i++) {
                                (function (i) {
                                    $('#collapseOne-' + data[i].id).on('shown.bs.collapse', function () {
                                        drawChart('#peleus-forecast-' + data[i].id, data[i]);
                                    }).on('hidden.bs.collapse', function () {
                                        $('#peleus-forecast-' + data[i].id).empty();
                                    });
                                })(i);
                            }
                        });
                    });
                }).on('hidden.bs.modal', function () {
                    $('#active-set-modal').empty()
                });

                $('#archived_forecasts').on('shown.bs.modal', function () {

                    $.ajax({
                        url: "/profile_forecasts/{{ profile.id }}/",
                        method: 'GET',
                        data: {
                            filter: 'archived'
                        }
                    }).done(function (data) {
                        $('#archived-set-modal').html(data);

                        $.ajax({
                            url: "/forecasts/",
                            method: 'GET',
                            data: urlDataFromIds()

                        }).done(function (data) {
                            for (var i = 0; i < data.length; i++) {
                                (function (i) {
                                    $('#collapseOne-' + data[i].id).on('shown.bs.collapse', function () {
                                        drawChart('#peleus-forecast-' + data[i].id, data[i]);
                                    }).on('hidden.bs.collapse', function () {
                                        $('#peleus-forecast-' + data[i].id).empty();
                                    });
                                })(i);
                            }
                        });
                    });

                }).on('hidden.bs.modal', function () {
                    $('#archived-set-modal').empty()
                });
            </script>

            <div class="col-md-6">

                <div class="row">
                    <p></p>

                    <p><strong>
                        {% if owner %} My {% else %}
                            {{ profile.full_name }}'s
                        {% endif %}
                        Active Forecasts
                        {#            {% if forecasts.count == 5 %}#}
                        <a href="#" data-toggle="modal" data-target="#active_forecasts">[See Full Set]</a>
                        {#            {% endif %}#}
                    </strong></p>
                </div>
                <table class="table">
                    {% for forecast in forecasts %}
                        <tr>
                            <td>
                                <a href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <p></p>

                    <p><strong>
                        {% if owner %} My {% else %}
                            {{ profile.full_name }}'s
                        {% endif %}
                        Archived Forecasts
                        {#            {% if forecasts_archived == 5 %}#}
                        <a href="#" data-toggle="modal" data-target="#archived_forecasts">[See Full Set]</a>
                        {#            {% endif %}#}
                    </strong></p>
                    <table class="table">
                        {% for forecast in forecasts_archived %}
                            <tr>
                                <td>
                                    <a href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% include 'profile_page_sidebar.html' %}
    </div>
{% endblock %}