{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' id=profile.id %}">Profile</a></li>
            <li class="active">Groups</li>
        </ol>

        {% if object_list %}
                <h4>
                    You are follow on {{ object_list|length }} group{{ object_list|pluralize }}
                </h4>
            {% endif %}
        <ul class="groups list-group">
            {% for group in object_list %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large; " href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                    </li>
            {% empty %}
                <h1>
                    {% if owner %}
                    You are not follow on groups yet {% else %} This user is not followed any groups {% endif %}
                </h1>
            {% endfor %}
        </ul>
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% include 'profile_page_sidebar.html' %}

    </div>
{% endblock %}