{% load staticfiles %}
<div id="profile_sidebar" style="overflow: hidden" class="col-md-4">
    <div class="row">
        <div class="panel" id="performance">
            <h4><strong>
                {% if owner %} My Performance
                {% else %} {{ profile.get_full_name|default:profile }}'s Performance {% endif %}

            </strong></h4>

            <p>Number of Forecasts: {{ predictions_count }}</p>


        </div>

        {% if not hide_analysis_box %}
            {% include 'profile_page_myanalysis.html' %}
        {% endif %}

        <div class="panel">
            <h4><strong>Connection Center</strong></h4>
                <ul class="list-group">
            {% if owner %}
{#                < id="messclick">#}
                    <a class="list-group-item" href="{% url 'postman_inbox' %}">Inbox <span class="badge">{{ postman_unread_count }}</span></a>

            {% elif not user.is_authenticated %}

            {% else %}
                <a class="list-group-item" href="{% url 'postman_write' recipients=profile %}">Send Message</a>
            {% endif %}
            <a class="list-group-item" href="#" data-toggle="modal" data-target="#Fol">Followers <span class="badge">0</span></a>

            <a class="list-group-item" href="#" data-toggle="modal" data-target="#FolUsers">
                {% if owner %} My Followed Users
                {% else %} {{ profile.get_full_name|default:profile }}'s Followed Users {% endif %}
                <span class="badge">0</span>
            </a>

            <a class="list-group-item" href="{% url 'profile_page_groups' id=profile.id %}">
                {% if owner %} My Groups
                {% else %} {{ profile.get_full_name|default:profile }}'s Groups {% endif %}
                <span class="badge">{{ groups_count }}</span>
            </a>
            </p>
        </ul>
            {% if owner %}
                <a class="list-group-item" href="#" data-toggle="modal" data-target="#profiles_views">
                    Weekly Profile Views
                    <span class="badge">{{ visitors|length }}</span>
                </a>
            {% endif %}
       {% if about.forecast_areas %}
 <div class="row">
 <div class="col-md-2">
     <strong>Interests:</strong>
 </div>
 <div class="col-md-10">
        {% for area in about.forecast_areas %}
                 <p>{{ FORECAST_AREAS|get_item:area|default_if_none:"" }}</p>
        {% endfor %}
</div>
 </div>
        {% endif %}
        {% if about.forecast_regions %}
 <div class="row">
 <div class="col-md-2">
     <strong>Regions:</strong>
 </div>
      <div class="col-md-10">
        {% for region in about.forecast_regions %}
                 <p>{{ FORECAST_REGIONS|get_item:region|default_if_none:"" }}</p>
        {% endfor %}
 </div>
</div>
        {% endif %}
            <div class="modal fade" id="Fol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followers</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="FolUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followed Users</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="profiles_views" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Weekly Profile Views</h4>
                        </div>
                        <div class="modal-body">
                            {% for visitor in visitors %}
                                <a href="{% url 'profile' id=visitor.visitor.id %}" class="list-group-item">{{ visitor.visitor }}
                                    <div class="pull-right">
                                 was on profile in {{ visitor.datetime }}
                                        </div>
                                </a>
                                {% empty %}
                                <pre>No visitors yet...</pre>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel" id="info">
                <h4><strong>{% if owner %} My Info
                {% else %} {{ profile.get_full_name|default:profile }}'s Info {% endif %} </strong></h4>

                {% if profile.custom.profession %}
                    <p>Profession: {{ profile.custom.profession }}</p>
                {% endif %}
                {% if profile.custom.organization_name %}
                    <p>Organization: {{ profile.custom.organization_name }}</p>
                {% endif %}
                {% if profile.custom.position %}
                    <p>Position: {{ profile.custom.position }}</p>
                {% endif %}
                <p>Location: {{ profile.custom.country }}</p>
            </div>

        </div>
    </div>
</div>