{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            {% if analysis %}
                <h1>{{ profile.full_name }}'s analysis</h1>
            {% endif %}
            {% for item in analysis %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if item.post_link %}
                            <a href="{{ item.post_link }}" target="_blank">{{ item.title }} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
                        {% else %}
                            {{ item.title }}
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {{ item.body }}
                        <a href="{% url 'individual_forecast' id=item.forecast.id %}#analysis-{{ item.id }}"
                           class="pull-right">{{ item.forecast.forecast_question }}</a>
                        {% if item.avg_votes %}
                            <span class="pull-right">{{ item.avg_votes|floatformat }} / 5</span>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <h1>There are no posted analysis</h1>
            {% endfor %}
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% include 'profile_page_sidebar.html' %}
    </div>
{% endblock %}