<div class="panel" id="analysis">
    <h4><strong>
        {% if owner %} My {% else %}
            {{ profile.full_name }}'s
        {% endif %} Analysis:
    </strong></h4>
    <p>Published Analysis:
        {% ifequal analysis|length 5 %}
            shows {{ analysis|length|default:"0" }}
        {% else %}
            {{ analysis|length|default:"0" }}
        {% endifequal %}
        <a href="{% url 'profile_forecast_analysis' id=profile.id %}" class="pull-right">[See Full Set]</a></p>
    {% for element in analysis %}
        <ul class="list-group">
            <div>
            <a class="list-group-item" style="color: #165ba8" href="{% url 'individual_forecast' id=element.forecast.id %}#analysis-{{ element.id }}" target="_blank"
               data-toggle="modal" data-target="#id{{ element.id }}">{{ element.title|slice:"60" }} <div class="pull-right">
                        <p>{{ element.publish_date }}</p></div></a>
             </div>
        </ul>

        <div class="modal fade" id="id{{ element.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>{{ element.title|slice:"60" }}</strong></h4>
                        <p>{{ element.publish_date }}</p>
                </div>
                <div class="modal-body">
                    <p style="word-wrap:break-word; background-color: InfoBackground">{{ element.body }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>
        {% empty %}
        <div class="well well-sm">There are no posted analysis</div>
    {% endfor %}
</div>



