{% extends 'base.html' %}

{% block content %}
    <form id="propose" class="form-horizontal" action="{% url 'propose_forecast' %}" method="post">
        {% csrf_token %}
        <div class="center-block form-center-block">
            {% for field in form %}
            <div class="form-group{% if field.error %} error{% endif %}">
                <label for="{{ field.name }}" class="col-sm-4">{{ field.label }}</label>
                <div class="col-sm-8">
                    <p>{{ field }}</p>
                    {% if field.error %}
                        <label>{{ field.error }}</label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        <div class="table" id="hideable-choices">
        {{ formset.as_p }}
        </div>
        <button type="button" value="Add More" id="add_another">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
         <button type="button" value="Remove" id="delete_last" style="display:none">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
         </button>


            <button type="submit" class="pull-right btn btn-success">Propose!</button>
        </div>
    </form>
{% endblock %}
{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/forecast_choices_user.js' %}"></script>
    <script type="text/javascript" src="{% static '1p/propose_validation.js' %}"></script>

{% endblock %}