{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
        <ul class="groups list-group">
        <h2>Group{{ object_list|pluralize }}{% if object_list|length >= 5 %}
            <span class="badge">{{ object_list|length }}</span>
        {% endif %}
        </h2>
            {% for group in object_list %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large; "
                           href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                        {% if user.is_authenticated %}
                            <a id="join_{{ group.id }}" class="join_to_group pull-right btn btn-sm btn-success" group-id="{{ group.id }}" >join</a>
                            <pre style="display: none;" id="joined_group_{{ group.id }}" class="text-center">Joined</pre>
                            <p/><pre style="display: none; background-color: #b94a48" id="join_error_{{ group.id }}" class="text-center">Sorry, having some problems with join</pre>
                        {% endif %}
                    </li>
                    {% empty %}
                    <h4>
                        The list is empty... You can propose a new group <a href="{% url 'propose_group' %}">here</a>
                    </h4>
            {% endfor %}
        </ul>
        </div>
        <div class="col-sm-6">
            <ul class="groups list-group">
                <h2>User{{ profiles|pluralize }}
                    {% if profiles|length >= 5 %}
                        <span class="badge">{{ profiles|length }}</span>
                    {% endif %}
                </h2>
                {% for profile in profiles %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large;" href="{% url 'profile' id=profile.id %}">
                                {% if profile.full_name %}
                                    {{ profile.full_name }}
                                {% else %}
                                    {{ profile }}
                                {% endif %}
                        </a>
                        {% if user.is_authenticated %}
                            <a class="pull-right btn btn-sm btn-success">follow</a>
                            <a class="pull-right btn btn-sm btn-default" href="{% url 'postman_write' recipients=profile %}">Send Message</a>
                        {% endif %}
                    </li>
                {% empty %}
                    <h4>
                        The users are not found...</a>
                    </h4>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/join_to_group.js' %}"></script>
{% endblock %}