{% extends 'base.html' %}
{% block content %}
    <div class="row">

        <div>
            <form class="navbar-form pl-search-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search users & groups" name="q">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div></p>
        {% load qstring %}
        <div class="col-sm-2 peleus-sidebar">
            <ul id="sidebar" class="nav nav-stacked">
{#                {% qstring as qstr %}#}
                {#                {% if user %}#}
                <button class="form-control btn btn-primary" data-toggle="collapse"
                        data-target=".all_area"
                        data-parent="#sidebar">
                    <span class="glyphicon glyphicon-plus-sign"></span> Filters by interests
                </button>
                <p/>
                <div class="all_area nav nav-stacked collapse in">
                    <li class="nav-divider"></li>
                    {% for area in FORECAST_AREAS %}
                    {% with has_tag=qstr|qstring_has:'area' %}
                        {% ifequal area qstr %}
                            <li><a style="background-color: rgba(35, 174, 116, 0.55)"
                                   href="?areas={{ area }}">{{ FORECAST_AREAS|get_item:area }}<span
                                    class="pull-right">&times;</span></a></li>
                        {% else %}
                            <li><a href="?areas={{ area }}">{{ FORECAST_AREAS|get_item:area }}</a></li>
                        {% endifequal %}
                    {% endwith %}
                    {% empty %}
                        <li>Areas is empty</li>
                    {% endfor %}
                </div>
                <button class="form-control btn btn-primary" data-toggle="collapse"
                        data-target=".all_region"
                        data-parent="#sidebar">
                    <span class="glyphicon glyphicon-plus-sign"></span> Filters by regions
                </button>
                <div class="all_region nav nav-stacked collapse in">
                    <li class="nav-divider region collapse"></li>
                    {% for region in FORECAST_REGIONS %}
                        {% with has_tag=qstr_region|qstring_has:'region' %}
                            {% ifequal region qstr_region %}
                                <li><a style="background-color: rgba(35, 174, 116, 0.55)"
                                       href="?region={{ region }}">{{ FORECAST_REGIONS|get_item:region }}<span
                                        class="pull-right">&times;</span></a></li>
                            {% else %}
                                <li><a href="?region={{ region }}">{{ FORECAST_REGIONS|get_item:region }}</a></li>
                            {% endifequal %}
                        {% endwith %}
                        {% empty %}
                        <li>Regions is empty</li>
                    {% endfor %}
                </div>
            </ul>
        </div>


        <div class="col-sm-5">
        <ul class="groups list-group">
        <h2 style="margin-top: 0">Group{{ object_list|pluralize }}{% if object_list|length >= 5 %}
            <span class="badge">{{ object_list|length }}</span>
        {% endif %}
        </h2>
            {% for group in object_list %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large; "
                           href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                        {% if user.is_authenticated %}
                            <a id="join_{{ group.id }}" class="join_to_group pull-right btn btn-sm btn-success" group-id="{{ group.id }}" >join</a>
                            <pre style="display: none;" id="joined_group_{{ group.id }}" class="text-center">Joined</pre>
                            <pre style="display: none; background-color: rgba(45, 174, 47, 0.55)" id="request_to_group_{{ group.id }}" class="text-center"> Your request is sent</pre>
                            <p/><pre style="display: none; background-color: #b94a48" id="join_error_{{ group.id }}" class="text-center">Sorry, having some problems with join</pre>
                        {% endif %}
                    </li>
                    {% empty %}
                    <h4>
                        The list is empty... You can propose a new group <a href="{% url 'propose_group' %}">here</a>
                    </h4>
            {% endfor %}
        </ul>
        </div>
        <div class="col-sm-5">
            <ul class="groups list-group">
                <h2 style="margin-top: 0">User{{ profiles|pluralize }}
                    {% if profiles|length >= 5 %}
                        <span class="badge">{{ profiles|length }}</span>
                    {% endif %}
                </h2>
                {% for profile in profiles %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large;" href="{% url 'profile' id=profile.id %}">
                                {% if profile.full_name %}
                                    {{ profile.full_name }}
                                {% else %}
                                    {{ profile }}
                                {% endif %}
                        </a>
                        {% if user.is_authenticated %}
                            <a class="pull-right btn btn-sm btn-success">follow</a>
                            <a class="pull-right btn btn-sm btn-default" href="{% url 'postman_write' recipients=profile %}">Send Message</a>
                        {% endif %}
                    </li>
                {% empty %}
                    <h4>
                        The users are not found...</a>
                    </h4>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/join_to_group.js' %}"></script>
{% endblock %}