{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
        <ul class="groups list-group">
        <h2>Group{{ object_list|pluralize }}</h2>
            {% for group in object_list %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large; " href="{% url 'group' id=group.id %}">{{ group.name }}</a>
                        {% if user.is_authenticated %}
                            <button class="pull-right btn btn-success">join</button>
                        {% endif %}
                    </li>
            {% empty %}
                <h4>
                    List is empty... You can propose new group <a href="{% url 'propose_group' %}">here</a>
                </h4>
            {% endfor %}
        </ul>
        </div>
        <div class="col-sm-6">
            <ul class="groups list-group">
                <h2>User{{ users|pluralize }}</h2>
                {% for profile in profiles %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;font-size: large;" href="{% url 'profile' id=profile.id %}">
                                {% if profile.full_name %}
                                    {{ profile.full_name }}
                                {% else %}
                                    {{ profile }}
                                {% endif %}
                        </a>
                        {% if user.is_authenticated %}
                            <button class="pull-right btn btn-success">follow</button>
                        {% endif %}
                    </li>
                {% empty %}
                    <h4>
                        Not found users...</a>
                    </h4>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}